<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD cntt</title>
</head>
<body> 
    <h1> Formnulario de Cadastro</h1>
    <form action="{%url 'novo_cntt'%}"  method = "POST">
    {% csrf_token %}
    <label>Nome:</label>
    <input type="text" name='nome'>
    <label>Telefone:</label>
    <input type="text"  name='telefone'>
  
  <button type="submit">Submit</button>
    </form>
    
</body>

</html>